/* Fondo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c; /* Color oscuro de fondo */
    color: #f8f9fa; /* Texto claro */
}

/* Navbar */
.navbar {
    background-color: #0b0b0b; /* Fondo oscuro del navbar */
    padding-top: 5px;
    padding-bottom: 5px;
}

/* Ajuste de tamaño del logo en el navbar */
.navbar-logo {
    height: 50px; /* Ajusta a un tamaño menor */
    max-width: 100%;
    object-fit: contain;
}



.nav-link {
    color: #f8f9fa !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffcc00 !important; /* Color dorado en hover */
    border-radius: 4px;
}

/* Botón de Iniciar sesión */
#login-button {
    border-color: #ffcc00;
    color: #ffcc00;
}

#login-button:hover {
    background-color: #ffcc00;
    color: #0b0b0b;
}

/* Botón de Cerrar sesión */
.btn-secondary {
    color: #ffcc00;
    border-color: #ffcc00;
}

.btn-secondary:hover {
    background-color: #ffcc00;
    color: #0b0b0b;
}

/* Contenedor principal */
.container {
    background-color: #333; /* Fondo oscuro del contenedor */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); /* Sombra */
    margin-top: 80px; /* Espacio superior para el navbar */
    max-width: 800px; /* Ancho máximo del contenedor */
}

/* Encabezado de los detalles de la película */
#movie-details h2 {
    text-align: center;
    font-size: 2rem;
    color: #ffcc00; /* Color dorado */
    margin-bottom: 30px;
}

/* Detalles de la película */
#movie-details p {
    color: #ccc; /* Color de texto para los detalles */
}

/* Ajustes para el botón de reservación */
.btn-primary {
    background-color: #b22222; /* Color del botón de reservación */
    border: none;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff4c4c;
}

.movie-info {
    display: flex;
    gap: 20px;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.movie-details {
    flex: 1;
    color: #f8f9fa;
}

.movie-title {
    font-size: 1.5rem;
    color: #ffcc00;
}

.movie-image {
    flex: 0 0 200px;
}

.poster-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

/* Añade esto al CSS */
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Ocupa toda la altura de la pantalla */
}

.container {
    background-color: #333; /* Fondo oscuro del contenedor */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6); /* Sombra */
    max-width: 800px; /* Ancho máximo del contenedor */
}
