body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40;
}

.logo-img {
    height: 40px;
}

.nav-link {
    color: #ffffff !important;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #0056b3;
    color: #ffffff !important;
    border-radius: 4px;
}

#movie-container {
    display: flex; /* Usar Flexbox */
    flex-wrap: wrap; /* Permite el ajuste a la siguiente línea */
    justify-content: space-between; /* Espaciado uniforme */
    margin-top: 20px; /* Espacio superior para separar del título */
}

.card {
    width: calc(33.333% - 20px); /* Ocupa un tercio menos el margen */
    min-height: 600px; /* Aumenta la altura mínima para mostrar más contenido */
    perspective: 1000px; /* Perspectiva para el efecto de rotación */
    margin-bottom: 20px; /* Margen inferior para espacio entre filas */
    overflow: hidden; /* Evita que el contenido se desborde */
    transition: transform 0.2s; /* Transición para el efecto de elevación */
}

.card:hover {
    transform: translateY(-10px); /* Eleva la tarjeta al hacer hover */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%; /* Asegura que ocupe toda la altura del contenedor */
    perspective: 1000px; /* Asegura la perspectiva 3D */
    transition: transform 0.6s; /* Aumenta la duración para una animación más suave */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: visible;
}

.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

.card-back {
    transform: rotateY(360deg);
}

/* Nueva clase para el contenido de la parte trasera */
.card-back .card-body {
    transform: rotateY(180deg); /* Rota el contenido de la parte trasera */
    backface-visibility: visible; /* Oculta la parte trasera del contenido */
}

.card-inner.flip {
    transform: rotateY(180deg);
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #343a40;
    padding-top: 5%;
}

.card-text {
    font-size: 0.95rem;
    color: #6c757d;
    margin-bottom: auto; /* Empuja el botón hacia el fondo */
}

.card-body {
    display: flex;
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: space-between; /* Distribuye el espacio entre ellos */
    height: 100%; /* Asegura que ocupe toda la altura de la card */
    padding: 15px; /* Espacio interior de la card */
}

.btn {
    margin-top: auto; /* Empuja el botón hacia el fondo */
    transition: background-color 0.3s, color 0.3s;
}

.btn-primary:hover {
    background-color: #004080; /* Un azul más oscuro */
    color: #ffffff;
}

.btn-secondary:hover {
    background-color: #343a40; /* Un gris oscuro */
    color: #ffffff;
}

.card-img-top {
    width: 100%; /* Las imágenes ocuparán el 100% de la card */
    height: auto; /* Mantiene la proporción de las imágenes */
}

/* Media Queries para responsividad */

/* Para tabletas y pantallas medianas */
@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px); /* Ocupa la mitad del ancho */
    }
}

/* Para dispositivos móviles */
@media (max-width: 576px) {
    .card {
        width: 100%; /* Ocupa el ancho completo */
    }
}
