/* Fondo de la página */
body {
    font-family: Arial, sans-serif;
    background: #1c1c1c no-repeat center center fixed;
    background-size: cover;
    color: #f8f9fa;
}

/* Navbar */
.navbar {
    background-color: #0b0b0b;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-link {
    color: #f8f9fa !important;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #ffcc00 !important; /* Un dorado tenue */
}

/* Botón de cerrar sesión */
.btn-outline-secondary {
    color: #ffcc00;
    border-color: #ffcc00;
}

.btn-outline-secondary:hover {
    background-color: #ffcc00;
    color: #0b0b0b;
}

/* Encabezado del catálogo */
.catalog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c; /* Fondo oscuro */
    padding: 15px 20px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4); /* Sombra */
}

.catalog-header h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #ffcc00; /* Color dorado para el título */
    margin: 0;
}

.genre-filter-container {
    display: flex;
    align-items: center;
}

#genre-filter {
    padding: 8px 12px;
    font-size: 1rem;
    background-color: #333;
    color: #f8f9fa;
    border: 1px solid #444;
    border-radius: 4px;
    transition: all 0.3s;
}

#genre-filter:hover {
    border-color: #ffcc00; /* Borde dorado al pasar el mouse */
}

/* Contenedor de películas */
#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

/* Estilos de tarjeta */
.card {
    background-color: #333;
    border: 1px solid #444;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    width: 100%;; /* Ocupa un tercio menos el margen */
    min-height: 600px; /* Aumenta la altura mínima para mostrar más contenido */
    perspective: 1000px; /* Perspectiva para el efecto de rotación */
    overflow: hidden; /* Evita que el contenido se desborde */
    transition: transform 0.2s; /* Transición para el efecto de elevación */
}

.card:hover {
    transform: scale(1.05);
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%; /* Asegura que ocupe toda la altura del contenedor */
    perspective: 1000px; /* Asegura la perspectiva 3D */
    transition: transform 0.6s; /* Aumenta la duración para una animación más suave */
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-front {
    transform: rotateY(0deg);
    z-index: 2;
}

.card-back {
    visibility: hidden; /* Oculta inicialmente el contenido trasero */
}

.card-inner.flip .card-back {
    visibility: visible; /* Muestra la parte trasera cuando está girada */
    z-index: 2;
}

.card-inner.flip .card-front {
    visibility: hidden; /* Oculta la parte frontal cuando está girada */
}



/* Nueva clase para el contenido de la parte trasera */
.card-back .card-body {
    transform: rotateY(180deg); /* Rota el contenido de la parte trasera */
    backface-visibility:visible; /* Oculta la parte trasera del contenido */
}

.card-inner.flip {
    transform: rotateY(180deg);
}

.card-inner.flip .card-back {
    visibility: visible; /* Muestra la parte trasera cuando está girada */
    z-index: 2;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #ffcc00;
}

.card-text {
    color: #ccc;
}

.btn-primary {
    background-color: #b22222;
    border: none;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #ff4c4c;
}

/* Ajuste de imagen */
.card-img-top {
    height: 400px;
    object-fit: cover;
    filter: brightness(0.9);
}

/* Responsividad */
@media (max-width: 992px) {
    .card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 576px) {
    .card {
        width: 100%;
    }
}

.navbar-logo {
    height: 50px; /* Ajusta a un tamaño menor */
    max-width: 100%;
    object-fit: contain;
}


.card-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
}

.card-body .btn.ver-detalles {
    align-self: center; /* Centra solo el botón */
    background-color: #b22222;
    color: #ffffff;
    transition: background-color 0.3s;
    margin-top: auto;
    height: 40px;
}

.btn.ver-detalles:hover {
    background-color: #ff4c4c;
}

.btn.volver {
    align-self: center; /* Centra solo el botón */
    background-color: #6c757d;
    color: #ffffff;
    transition: background-color 0.3s;
    margin-top: auto; /* Empuja el botón hacia el fondo */
    height: 40px;
}

.btn.volver:hover {
    background-color: #5a6268;
}