/* Archivo de estilos personalizado */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Color de fondo para la página */
}

/* Fondo del navbar */
.navbar {
    background-color: #343a40; /* Color del navbar */
}

/* Estilo de la imagen del logo */
.logo-img {
    height: 40px;
}

/* Estilo de los enlaces del navbar */
.nav-link {
    color: #ffffff !important; /* Color blanco para el texto del navbar */
    transition: color 0.3s ease, background-color 0.3s ease;
}

/* Hover de los enlaces del navbar */
.nav-link:hover {
    background-color: #0056b3; /* Color de fondo al pasar el mouse */
    color: #ffffff !important; /* Mantiene el texto blanco en hover */
    border-radius: 4px; /* Bordes redondeados en hover */
}

/* Estilo para el navbar */
nav {
    position: sticky; /* Mantener el navbar en la parte superior */
    top: 0; /* Posicionar en la parte superior */
    z-index: 10; /* Asegúrate de que esté por encima de otros elementos */
}

/* Contenedor principal */
.container {
    margin-top: 70px; /* Ajustado para evitar superposición con el navbar */
}

/* Estilos del formulario */
h2 {
    margin-bottom: 20px; /* Margen inferior para el título */
}

/* Estilo de los campos del formulario */
.form-group label {
    font-weight: bold; /* Texto en negrita para las etiquetas */
}

.btn-primary {
    background-color: #007bff; /* Color del botón */
    border-color: #007bff; /* Color del borde del botón */
}

.btn-primary:hover {
    background-color: #0056b3; /* Color al pasar el mouse */
    border-color: #0056b3; /* Color del borde al pasar el mouse */
}

/* Estilos de las cards */
.card {
    margin-bottom: 20px; /* Margen inferior para las cards */
}

.card-img-top {
    height: 300px; /* Altura de la imagen en la card */
    object-fit: cover; /* Ajuste de la imagen */
}

.card-title {
    font-size: 1.25rem; /* Tamaño del texto del título */
    font-weight: bold; /* Negrita para el título */
}

/* Estilo para el header */
header {
    background-color: #f8f9fa; /* Color de fondo para el header */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el texto en el header */
    position: relative; /* Posición relativa para control */
    z-index: 1; /* Asegúrate de que esté por encima del navbar */
}

/* Estilo para el título */
header h1 {
    margin-top: 0; /* Sin margen superior para evitar superposición */
    font-size: 2.5em; /* Tamaño del título */
    color: #343a40; /* Color del texto */
}

.form-check {
    margin-bottom: 10px; /* Margen entre los checkboxes */
}
